@model IEnumerable<ProcessoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fas fa-project-diagram"></i> Processos</h2>

<p>
    <a asp-action="Create" class="btn btn-dark" role="button"><i class="far fa-plus-square"></i> Novo Processo</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>      
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuarioCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataModificacao)
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-th="@Html.DisplayNameFor(model => model.Codigo)">
                <b>@Html.DisplayFor(modelItem => item.Codigo)</b>
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.Nome)">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.Periodo)">
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.Status)">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.NomeUsuarioCadastro)">
                @Html.DisplayFor(modelItem => item.NomeUsuarioCadastro)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.DataCadastro)">
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.DataModificacao)">
                @Html.DisplayFor(modelItem => item.DataModificacao)
            </td>
            <td data-th="Opções">
                <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Editar"><i class="far fa-edit text-dark"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Ver Detalhes"><i class="fas fa-search text-dark"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Arquivar"><i class="fas fa-archive text-dark"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
