@model IEnumerable<ProcessoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Processo</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table container">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataModificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCadastroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioModificacaoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsValid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataModificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCadastroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioModificacaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
